body { margin: 0; }
.info {
    width: 30%; 
    height: 100%;
    display: inline-block;
    float: left;
}

.current {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
    display: block;
    text-align: center;
}

input {
    display: block;
    width: 90%;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    line-height: 18px;
    font-size: 16px;
    padding: 5px;
}

select {
    display: block;
    width: 90%;
    margin: 20px auto;
    border: 1px solid #f89;
    border-radius: 5px;
    line-height: 21px;
    font-size: 16px;
    background: #f8a310;
    color: #333;
    text-align: center;
    cursor: pointer;
}

canvas { 
    width: 70%!important;
    height: 100%;
    display: inline-block;
    float: left; 
}